*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

/*Heading sizes*/
h1 {
  font-size: 4rem;
  font-family: "Abril Fatface", serif;
}

h2 {
  font-size: 3.2rem;
  font-family: "Abril Fatface", serif;
}

h3 {
  font-size: 2.4rem;
  font-family: "Abril Fatface", serif;
}

h4 {
  font-size: 2rem;
  font-family: "Abril Fatface", serif;
}

h5 {
  font-size: 1.1rem;
  font-family: "Abril Fatface", serif;
}

p {
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
}

li,
a {
  text-decoration: none;
}

/*Section [Navigation]*/
nav {
  max-width: 100%;
}

.top-nav {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  gap: 5px;
  height: 50px;
}

.top-nav p {
  color: white;
  font-size: 1.2rem;
}

.fa-truck {
  font-size: 1.2rem;
  color: white;
}

nav ul {
  display: flex;
  background-color: white;
  gap: 100px;
  list-style: none;
  height: 60px;
  align-items: center;
  justify-content: end;
  margin-right: 100px;
}

nav a {
  font-size: 1.4rem;
  font-weight: 600;
  color: black;
  font-family: "Raleway", sans-serif;
}

.nav-links a:hover {
  color: rgb(18, 18, 18);
  transition: all 250ms ease-in-out;
}

nav i {
  font-size: 3.5rem;
}

.burgerMenuOpen,
.burgerMenuClose {
  display: none;
  color: white;
}

.btn {
  display: inline-block;
  padding: 13px 35px;
  font-size: 1.6rem;
  border-radius: 15px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: tomato;
  cursor: pointer;
}

.btn:hover {
  transition: all 250ms ease-in-out;
}

.nav-links a {
  display: inline-block;
  position: relative;
}

.nav-links a::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  display: block;
  margin-top: 7px;
  background-color: white;
  transition: all 300ms ease-in-out;
}

.nav-links a:hover::after {
  width: 100%;
}

/*Responsive burgermenu*/
@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
  }

  .nav-links {
    position: relative;
    max-width: 100%;
    height: 100px;
    background-color: rgb(42, 42, 42);
    align-items: center;
    margin: 0 auto;
    display: none;
    flex-direction: column;
    top: 100px;
    gap: 10px;
  }

  .nav-links.active {
    display: flex;
    position: absolute;
    width: 100%;
    height: auto;
    padding: 20px 0 20px 0;
  }

  .burgerMenuOpen {
    display: block;
    margin-right: 20px;
  }

  .burgerMenuOpen.active {
    display: none;
  }

  .burgerMenuClose {
    display: none;
    margin-right: 20px;
  }

  .burgerMenuClose.active {
    display: block;
  }
}

/*Section [Hero]*/
.hero {
  max-width: 100%;
}

.hero-slider img {
  width: 100%;
}

.hero-slider h2 {
  color: white;
  position: absolute;
  margin-top: -160px;
  margin-left: 700px;
}

.hero-slider h2:nth-of-type(2) {
  padding-top: 35px;
}

.hero-grid {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.hero-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Section [Our products]*/
.our-products {
  max-width: 100%;
  align-items: center;
  padding-top: 170px;
  display: flex;
  flex-direction: column;
}

.our-products-container-flex {
  display: flex;
  gap: 47px;
}

.our-products-container-flex img {
  width: 80px;
  height: 80px;
  align-self: center;
}

/*Section [name]*/

/*Section [name]*/

/*Section [name]*/

/*Section [name]*/

/*Section [Footer]*/

/*Responsive*/
@media screen and (max-width: 768px) {
  /*Heading sizes*/
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.8rem;
  }

  h5 {
    font-size: 0.8rem;
  }

  p {
    font-size: 1.2rem;
  }

  /*Section [Hero]*/

  /*Section [name]*/

  /*Section [name]*/

  /*Section [name]*/

  /*Section [Footer]*/
}
